<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 1.2 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-win_amd64.whl size=1142949 sha256=959361cc2c63f8ee6b6b3ab5d14f942944fc2a1ef597662112fc94483c79ccc4
  Stored in directory: c:\users\harsh\appdata\local\pip\cache\wheels\ef\95\ac\c232f83b415900c26553c64266e1a2b2863bc63e7a5d606c7e
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.45
    Uninstalling SQLAlchemy-1.4.45:
      Successfully uninstalled SQLAlchemy-1.4.45
Successfully installed sqlalchemy-1.4.39

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
camelot 12.6.29 requires SQLAlchemy<0.8.0,>=0.7.7, but you have sqlalchemy 1.3.9 which is incompatible.
camelot 12.6.29 requires xlrd==0.7.1, but you have xlrd 2.0.1 which is incompatible.

Requirement already satisfied: ibm_db_sa in c:\users\harsh\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\harsh\anaconda3\lib\site-packages (from ibm_db_sa) (1.4.39)
Requirement already satisfied: importlib-metadata in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (5.1.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (2.0.1)
Requirement already satisfied: zipp>=0.5 in c:\users\harsh\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.7.3->ibm_db_sa) (3.11.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\harsh\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.7.3->ibm_db_sa) (4.4.0)
Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\harsh\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\harsh\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\harsh\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: ipython>=1.0 in c:\users\harsh\anaconda3\lib\site-packages (from ipython-sql) (7.12.0)
Requirement already satisfied: six in c:\users\harsh\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.36)
Requirement already satisfied: colorama in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: pickleshare in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Requirement already satisfied: pygments in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: jedi>=0.10 in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.14.1)
Requirement already satisfied: backcall in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\harsh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (65.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.1)
Requirement already satisfied: importlib-metadata in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (5.1.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\harsh\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.2)
Requirement already satisfied: wcwidth in c:\users\harsh\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: zipp>=0.5 in c:\users\harsh\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.11.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\harsh\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (4.4.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13705 sha256=6f3c2b129264c290482e170bb347aec8dfa136b28a26649864ccf925de341da8
  Stored in directory: c:\users\harsh\appdata\local\pip\cache\wheels\52\1b\94\5a345ad377639394ad6c23e3d0bb45fff0fab55b67277b8f7c
Successfully built prettytable
Installing collected packages: prettytable, ipython-sql
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [4]:
import pandas as pd
import numpy as np

In [12]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\users\harsh\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in c:\users\harsh\anaconda3\lib\site-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in c:\users\harsh\anaconda3\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\harsh\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\harsh\anaconda3\lib\site-packages (from pandas->pandasql) (2022.7)
Requirement already satisfied: importlib-metadata in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (5.1.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\harsh\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in c:\users\harsh\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.16.0)
Requirement already satisfied: typing-extensions>=3.6.4 in c:\users\harsh\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy->pandasql) (4.4.0)
Requirement already satisfied: zipp>=0.5 in c:\users\harsh\anaconda3\lib\site-packages (from importlib-metadata->sqlalchemy->pandasql) (3.11.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26800 sha256=e604043f2c41d0f709ffe602888c03745eee05c66cfb96cb9bc138b1d3b010c0
  Stored in directory: c:\users\harsh\appdata\local\pip\cache\wheels\18\83\55\7eb1b4300b2076dae1c0bda12345080a863b73992ccd59cff0
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [14]:
from pandasql import sqldf

In [5]:
%sql ibm_db_sa://

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
[Errno 2] No such file or directory: 'c:\\users\\harsh\\anaconda3\\lib\\site-packages\\SQLAlchemy-1.4.45.dist-info\\METADATA'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [32]:
# file1 = pd.read_csv('Spacex.csv')
file2 = pd.read_csv('Spacex.csv')

In [34]:
file2.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [35]:
query = '''
SELECT DISTINCT Launch_Site 
from file2
'''

result = sqldf(query)
print(result)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [37]:
query = '''
SELECT * 
from file2
where Launch_Site like "CCA%"

limit 5
'''

result = sqldf(query)
print(result)

         Date Time (UTC) Booster_Version  Launch_Site  \
0  04-06-2010   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  08-12-2010   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  22-05-2012   07:44:00  F9 v1.0  B0005  CCAFS LC-40
3  08-10-2012   00:35:00  F9 v1.0  B0006  CCAFS LC-40
4  01-03-2013   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome     Landing _Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [44]:
query = '''
SELECT sum(PAYLOAD_MASS__KG_) 
from file2
where customer = 'NASA (CRS)'
'''

result = sqldf(query)
print(result)

   sum(PAYLOAD_MASS__KG_)
0                   45596

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [42]:
query = '''
SELECT avg(PAYLOAD_MASS__KG_) 
from file2
where Booster_version like 'F9 v1.1%'
'''

result = sqldf(query)
print(result)

   avg(PAYLOAD_MASS__KG_)
0             2534.666667

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [54]:
query = '''
SELECT min(date)
from file2
where "Landing _Outcome" = "Success (ground pad)"
'''

result = sqldf(query)
print(result)

    min(date)
0  01-05-2017

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [60]:
query = '''
SELECT Booster_Version
from file2
where "Landing _Outcome" = "Success (drone ship)"
and PAYLOAD_MASS__KG_ BETWEEN 4000 and 6000
'''

result = sqldf(query)
print(result)

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

In [56]:
file2.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 7

##### List the total number of successful and failure mission outcomes

In [61]:
query = '''
SELECT Mission_Outcome, count(*)
from file2
group by 1
'''

result = sqldf(query)
print(result)

                    Mission_Outcome  count(*)
0               Failure (in flight)         1
1                           Success        98
2                          Success          1
3  Success (payload status unclear)         1

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [66]:
query = '''
SELECT Booster_Version
from file2
where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from file2)
'''

result = sqldf(query)
print(result)

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [77]:
query = '''
SELECT "Landing _Outcome",Booster_Version, Launch_site
from file2
where "Landing _Outcome" = "Failure (drone ship)"
and Date like '%2015'
'''

result = sqldf(query)
print(result)

       Landing _Outcome Booster_Version  Launch_Site
0  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

In [67]:
file2.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [75]:
query = '''
SELECT "Landing _Outcome",Booster_Version, Launch_site
from file2
where "Landing _Outcome" = "Failure (drone ship)"
and Date like '%2015'
'''

result = sqldf(query)
print(result)

       Landing _Outcome Booster_Version  Launch_Site
0  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

In [78]:
file2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    object
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing _Outcome   101 non-null    object
dtypes: int64(1), object(9)
memory usage: 8.0+ KB

In [69]:
query = '''
SELECT distinct "Landing _Outcome"
from file2
'''

result = sqldf(query)
print(result)

          Landing _Outcome
0      Failure (parachute)
1               No attempt
2     Uncontrolled (ocean)
3       Controlled (ocean)
4     Failure (drone ship)
5   Precluded (drone ship)
6     Success (ground pad)
7     Success (drone ship)
8                  Success
9                  Failure
10             No attempt

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>